
@media only screen and (max-device-width: 400px) {
  .mobile-img {
    width: 100%;
    height: 40%;
  }

  .modal-pic {
    display: none !important;
  }

  .desktop {
    display: none;
  }

  .mobile_device_380px {
    display: inline !important;
  }

}

.mobile_device_380px {
  display: none;
}


 html, body {
   padding: 0;
   margin: 0;

 }

 #wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   margin: auto;
   padding: 0;
 }

 #leftmenu, img {
   position: fixed;
   top: 0;
   left: 0;
   width: 50%;
   height: 100%;
 }

 #maincontent {
   float: right;
   left: 50%;
   width: 50%;
   height: 100%;
 }

 h2 {
   font-family: 'Montserrat';
   text-transform: uppercase;
   text-align: center;
 }

 .about-me {
   margin: 10%;
   line-height: 1.75em;
   font-size: 16px;
   font-family: 'Source Sans Pro', arial, sans-serif;
 }

 .fa-github {
   margin-bottom: 50px;
 }

 i {
   color: #D8D8D8;
   padding: 5px;
 }

 p, li {
   font-family: 'Source Sans Pro', arial, sans-serif;
   font-size: 16px;

 }

 .menu {
  color: white;
  position: absolute;
  width: 100%;
 }

 #sidenav-overlay {
   opacity: 0 !important
 }


.modal {
  width: 75% !important;
  height: 75% !important;
}

.modal-pic {
  width: 50%;
  height: 50%;
  margin-top: 15%;

}
